body {
  background-color: $bg-color;
  padding: 15%;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

blockquote {
  font-style: italic;
  font-size: $font-md;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}

hr {
  margin: 2rem 0;
}

p {
  margin: 1rem 0;
}

li {
  margin: 0.4rem 0;
}

code {
  color: $code-color;
  background-color: $code-bg-color;
  padding: 2% 0% 2% 5%;
  font-size: 90%;
  width: 95%;
  display: block;
  line-height: 175%;
}
