/* Colors */
$bg-color: #000;
$text-color: #fff;
$link-color: rgb(44, 233, 233);
$code-bg-color: rgba(255, 255, 255, 0.072);
$code-color: #fff;

/* Fonts */
$font-sm: 0.95rem;
$font-md: 1.5rem;
$font-lg: 1.65rem;
$font-xl: 3rem;

/* Spacing */
$spacing-sm: 1rem;
